.return-actions {
  display: flex;
  justify-content: flex-end;
  background-color: white;
}

.return-btn {
  margin: 10px;
  float: right;
}

.disabled {
  color: #7c7878;
  background-color: #eeeeee;
  cursor: not-allowed;
}

input:disabled {
  background-color: transparent !important;
  border: 0px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  color: black;
  cursor: default !important;
  outline: none !important;
}
