version: "3"
services:
  storybook: 
    build: .
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/build
    ports:
      - "9009:9009"
    privileged: true
    command: "npm run storybook"

  web:
    build: .
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/build
    ports:
      - "3000:3000"
    privileged: true
    environment:
      REACT_APP_HIF_API_URL: http://localhost:4567/
      REACT_APP_BACK_TO_BASELINE: 'yes'
