version: "3"
services:
  web:
    build: .
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/build
    ports:
      - "3000:3000"
      - "9009:9009"
    privileged: true
    environment:
      REACT_APP_HIF_API_URL: http://localhost:4567/
