.horizontal-items {
  margin: 10px;
  white-space: nowrap;
  overflow-x: auto;
}

.horizontal-item {
  display: inline-flex;
  margin: 0 10px;
  padding: 10px 0;
  flex-direction: column;
}

.horizontal-input {
  width: auto;
}

.horizontal-title {
  display: block;
}
