.row {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.column {
  padding-right: 7px;
  padding-left: 7px;
  max-width: 13%;
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: row;
}

.title {
  margin-left: 20px;
}

.header {
  font-weight: 700;
  white-space: nowrap;
}