.data-column .control-label {
  display: none;
}

.line {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 8px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
}

.data-column {
  padding-right: 7px;
  padding-left: 7px;
  flex: 2 1 0;
}
.remove {
  float: left;
  flex: 1 1 0;
}

.add {
  margin-left: 20px;
}

.title {
  margin-left: 20px;
}

.header {
  font-weight: 700;
  white-space: nowrap;
}

.variance {
  color: grey;
  font-style: italic;
  margin-left: 10px;
}

.variance-line {
  margin-bottom: 25px;
}
