.row {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.column {
  padding-right: 7px;
  padding-left: 7px;
  flex-grow: 1;
}
.remove {
  float: left;
}
.container {
  display: flex;
  flex-direction: row;
}

.title {
  margin-left: 20px;
}

.header {
  font-weight: 700;
  white-space: nowrap;
}


@media (min-width: 1200px) {
  .container {
    width: 920px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 744px;
    padding-left: 0px;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}