.submit-success {
  height: 100%;
  text-align: center;
  font-size: 2em;
}

.checkmark {
  color: green;
  font-size: 2em;
}

.subheading {
  font-weight: normal;
}

.field-description {
  font-style: italic;
  color: #a9a9a9;
}

.mandatory {
  padding-left: 1em;
}

.return {
  padding-left :0em;
}

.no-edge {
  margin: 0px;
}
