.no-wrap {
  white-space: nowrap;
}
.less-padding {
  padding-left: 6px;
  padding-right: 6px;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
.flex-data {
  flex-grow: 1;
  flex-basis: auto;
}

.flex-header {
  flex-grow: 2;
  flex-basis: auto;
}

.period-header {
  background-color: transparent !important;
  border: 0px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  color: #333;
  outline: none !important;
}