textarea {
  min-height: 5em;
}

.subform-selectors {
  background: #F8F8F8;
  margin: 32px;
  display: inline-block;
}

.nav-tabs {
  border-bottom: none;
}

.nav-item {
  border-style: none;
  border-radius: 0;
}


.nav-item.active > a {
  background-color: transparent !important;
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  border-bottom: 4px solid transparent !important;
  border-color: #005EA5 !important;
  color: #005ea8 !important;
  border-radius: 0;
}

.nav-item.inactive > a:hover {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  border-bottom: 4px solid transparent !important;
  border-color: #787878 !important;
  border-radius: 0;
  background-color: transparent !important;
}

.nav-item > a {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  border-bottom: 4px solid transparent !important;
  color: #787878;
  cursor: pointer !important;
  font-size: 18px;
  font-weight: bold;
}

.nav-item > a:hover {
  border-color: #dddddd !important;
}

.parent-form-body {
  display: flex;
}
