.subform-selectors {
  background: white;
  border-bottom: 1px solid black;
}

.nav-tabs {
  border-bottom: none;
}

.nav-item {
  border-bottom: 0px solid black;
  margin-bottom: -2px;
}


.nav-item.active > a {
  border-color: #0e0e0e !important;
  color: #005ea8 !important;
  border-radius: 0;
}

.nav-item.inactive > a:hover {
  border-color: #787878 !important;
  border-radius: 0;
}

.nav-item > a {
  border-bottom: transparent !important;
  color: #787878;
  cursor: pointer !important;
  font-size: 18px;
  font-weight: bold;
}

.nav-item > a:hover {
  border-color: #dddddd !important;
}

.sidebar-column {
  background-color: #e5eef6;
}

.parent-form-body {
  display: flex;
}
