.logo-holder {
  background: #0b0c0c;
  border-bottom: 10px solid #005ea5;
  color: #ffffff;
  height: 53px;
}

.beta {
  background: #005ea5;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.3em;
}

.beta-notice {
  padding: 0.8em;
}

.logo {
  height: 89%;
  padding: 5px 0 1px 30px;
}
