.sidebar {
  margin-top: 15px;
}

.sidebar-parent {
  font-size: 1.2em;
  font-weight: bolder;
}

.sidebar-item {
  color: black;
  cursor: pointer;
  display: flex;
}

.sidebar-item-child {
  border-left: medium solid transparent;
  padding: 4px;
  list-style: none;
}

.selected-header {
  color: #005ea5;
  text-decoration: underline;
}

.selected-item {
  border-left-width: medium;
  border-left-style: solid;
  padding: 4px;
  background-color: #F8F8F8F8;
  display: flex;
  border-color: #005EA5;
  color: #005EA5;
  font-weight: bold;
}

.sidebar-button {
  margin: 5px;
  background-color: transparent;
  width: 30%;
}
