.sidebar {
  margin-top: 15px;
}

.sidebar-parent {
  font-size: 1.2em;
  font-weight: bolder;
}

.sidebar-item {
  color: black;
  cursor: pointer;
}

.selected-header {
  color: #005ea5;
  text-decoration: underline;
}

.selected-item {
  color: #005ea5;
  font-weight: bold;
}
