.sidebar {
  margin: 15px;
}

.sidebar-parent {
  color: #6F777B;
}

.sidebar-item {
  color: black;
  cursor: pointer;
  display: flex;
}

.sidebar-item-children {
  margin-bottom: 1em;
  padding: 0;
}

.sidebar-item-child {
  border-left: medium solid transparent;
  padding: 4px;
  list-style: none;
}

.selected-item {
  border-left-width: medium;
  border-left-style: solid;
  padding: 4px;
  background-color: #F8F8F8F8;
  display: flex;
  border-color: #005EA5;
  color: #005EA5;
  font-weight: bold;
}

.sidebar-button {
  margin: 5px;
}

.sidebar-button-remove {
  width: 35%;
}

.sidebar-button-add {
  width: 60%;  
}
