html {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh)
}

.monitor-container {
  flex: 1 0 auto;
  padding-bottom: 1em;
}

.back-to-project {
  margin-bottom: 10px;
  font-size: 40px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.review-form {
  width: 960px;
}

.form-field input:disabled {
  background-color: #FCBDBD;
  color: black;
}

.form-field select:disabled {
  background-color: #FCBDBD;
  color: black;
}

.form-field select {
  background-color: #FFE644;
  color: black;
}

.disabled {
  color: #7c7878 !important;
  cursor: not-allowed;
}

input[type="button"] .disabled {
  background-color: #eeeeee;
}

.form-button {
  margin: 10px;
  float: right;
}

.add-remove {
  padding-left: 3em;
  padding-right: 3em;
  margin-right: 1em;
  font-weight: bold;
}
