.monitor-container {
  margin: 30px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.review-form {
  width: 960px;
}

.form-field input:disabled {
  background-color: #FCBDBD;
  color: black;
}

.form-field select:disabled {
  background-color: #FCBDBD;
  color: black;
}

.form-field select {
  background-color: #FFE644;
  color: black;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  float: right;
}

