html {
  height: 100%;
}

.homepage {
  height: 100%;
  vertical-align: middle;
}

.back-to-homepage {
  margin-right: 10%;
  float: right
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh)
}

.monitor-container {
  flex: 1 0 auto;
}

.back-to-project {
  margin-bottom: 10px;
  font-size: 40px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.review-form {
  width: 960px;
}

.form-field input:disabled {
  background-color: #FCBDBD;
  color: black;
}

.form-field select:disabled {
  background-color: #FCBDBD;
  color: black;
}

.form-field select {
  background-color: #FFE644;
  color: black;
}

.disabled {
  cursor: not-allowed;
}

thead {
  color: white !important;
}

th {
  background-color: #000000 !important;
  border-color: #000000 !important;
}

tr:nth-child(even) {
  background-color: #ECEBEC !important;
}

tr:nth-child(odd) {
  background-color: #FFFFFF !important;
}

input[type="text"]:not([disabled]), input[type="email"]:not([disabled]), select, textarea {
  border-radius: 0px !important;
  border-style: solid !important;
  border-width: 2px !important;
  border-color: black !important;
}

.input-group > * {
  border-width: 0px !important;
  border-radius: 0px !important;
  background-color: transparent !important;
}

input[type="button"], button {
  color: #FFFFFF !important;
  background-color: #00823B !important;
  border-bottom-width: medium !important;
  border-bottom-style: solid !important;
  border-bottom-color: #809B8C !important;
  border-radius: 0px !important;
}

input[type="button"], button .disabled {
  background-color: #80C19D !important;
  color: #FFFFFF !important;
  border-color: #809B8C !important;
}

.form-button {
  margin: 10px;
  float: right;
}

.add-remove {
  padding-left: 3em;
  padding-right: 3em;
  margin-right: 1em;
  font-weight: bold;
}
